/* style.css */
.headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 4vw;
}

#heading1 {
  font-size: 40px;
}

.displayContents {
  margin-top: 2pc;
  margin-left: 5vw;
  margin-bottom: 10%;

  width: 70vw;
  height: auto;
  border: 1px solid rgb(16, 78, 129);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  align-items: flex-start;

  /* background-color: rgb(231, 227, 227); */
}

.displayContents th {
  padding: 10px;
  align-items: start;
}

.formElement {
  margin-top: 2pc;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 5%;

  width: 50vw;
  /*width of the form*/
  height: auto;
  border: 1px solid rgb(150, 194, 230);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align at the top */

  align-items: flex-start; /* Align elements to the left */

  /* background-color: rgb(231, 246, 250); */
  padding: 20px;
}

.inputLabel {
  text-align: left;
}

.inputValues {
  /*width of elememt inside the form with the className - inputValues*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
/* 
.formSection {
  display: flex;
  flex-direction: column;
 
} */

/* change */
.date {
  width: 60%; /* Match the width with other TextFields */
  margin-left: 0;
}
